<div class="task-list-container ">

    <div class="task-header _flex-box _p-10">
        <div style="width: 15%;">
            <span>Owner</span>
        </div>
        <div style="width: 15%;">
            <span>Created Date</span>
            <button mat-icon-button matTooltip="{{ taskSortByCreatedTime ? 'Latest First' :'Oldest First'}}"
                (click)="taskSortByCreatedTime = !taskSortByCreatedTime ; sortTaskByTime(taskList,taskSortByCreatedTime,'created_on') ">
                <mat-icon>{{taskSortByCreatedTime ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
            </button>
        </div>
        <div style="width: 15%;">
            <span>Due Date</span>
            <button mat-icon-button matTooltip="{{ taskSortByDueTime ? 'Latest First' :'Oldest First'}}"
                (click)="taskSortByDueTime = !taskSortByDueTime ; sortTaskByTime(taskList,taskSortByDueTime,'due_date') ">
                <mat-icon>{{taskSortByDueTime ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
            </button>
        </div>
        <div style="width: 35%;">
            <span>Message</span>
        </div>
        <div style="width: 10%;">
            <span>Priority</span>
        </div>
        <div style="width: 10%;">
            <span>Actions</span>
        </div>
    </div>
    <ng-container
        *ngIf="(taskList.length > 0 );else emptyHighPriTaskList">
        <div class="task-item _flex-box  _p-10" *ngFor="let task of taskList"
            (dragstart)="$event.dataTransfer.setData('text' , task.id )" draggable="true">
            <div style="width: 15%;" class="text-ellipses">
                {{task.assigned_name ? task.assigned_name : '' }}
            </div>
            <div style="width: 15%;" class="text-ellipses">
                {{task.created_on ? task.created_on : '-' }}
            </div>
            <div style="width: 15%;" class="text-ellipses">
                {{task.due_date ? task.due_date : '-'}}
            </div>
            <div style="width: 35%;" class="text-ellipses">
                {{task.message ? task.message : ' - ' }}
            </div>
            <div style="width: 10%;" class="text-ellipses">
                {{(task.priority && task.priority <= 3) ? ((task.priority==1) ? 'High' : ((task.priority==2)
                ? 'Medium' : 'Low' )) : ' - ' }} </div>
            <div style="width: 10%;" class="_flex-box">
                <div style="position: relative;">
                    <button mat-icon-button matTooltip="Delete Task" (click)="deleteTask(task)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-spinner *ngIf="task['deleteLoading']" [diameter]="40"
                        style="position: absolute; top: 0px;"></mat-spinner>
                </div>
                <div>
                    <button mat-icon-button (click)="updateTask(task)" [matTooltip]="'Update Task'">
                        <mat-icon>create</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #emptyHighPriTaskList>
            <div style="text-align: center; padding: 10px;">No Tasks</div>
    </ng-template>
</div>